<html>
  <style>
    body {
      background: #2d2d2d;
      text-align: center;
    }
    .ribbon {
      display: flex;
      flex-direction: row;
      margin: 1em;
    } 
    .category-name {
      flex-grow: 0;
      background: #66f;
      padding: 1em;
      display: flex;
    }
    .category-name .text {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      color: #fff;
    }
    .sub {
      padding: 0.5em;
      background: #fff; 
      border-radius: 5px;
      margin-left: .25em;

    }
    .itemContainer {
      flex-grow: 2;
      min-width: 10em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .item {
      min-width: 70px;
      max-width: 95px;
      min-height: 70px;
      border: 2px solid grey;
      padding: 6px;
      border-radius: 5px;
      margin: 3px;
    }
    .utilizing {
      background-color: #f3fff3;
    }
  </style>
  <body>
    {% for category in categories %}
      <div class="ribbon">
        <div class="category-name">
          <h4 class="text">{{ category.name }}</h4>
        </div>
        {% for sub in category.subs %}
          <div class="sub">
            <h3>{{ sub.name }}</h3>
            <div class="itemContainer">
            {% for item in sub.pieces %}
                <div class="item {{ item.classes }}">
                  {% if item.img %}
                    <img style="height: 48px; width: 64px;" src="{{item.img}}"></img>
                  {% endif %}
                  {% if item.name %}
                    <div>{{item.name}}</div>
                  {% endif %}
                </div>
            {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </body>
</html>
